# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Base de données locale
db.sqlite3
db.sqlite3-journal

# Fichiers médias (images uploadées)
staticfiles/

# Secrets et Configuration
.env
cle.txt
*.pkl

# OS
.DS_Store
Thumbs.db
